// Image thumbnails
$thumbnail-padding: .1rem;
$thumbnail-bg: $gray-900;
$thumbnail-border-color: $gray-900;

// Cards
$card-bg: $body-bg;
$card-border-color: $gray-900;

// Navs
$nav-tabs-border-color: $gray-900;
$nav-tabs-link-active-border-color: $gray-900;
