footer.footer
  .footer__main
    .container.text-center
      p.footer__credits © 2017 Factorio Builds, All Rights Reserved
      div.footer__project
        ul.list-inline
          li
            a(href='https://github.com/veksen/factorio-builds') GitHub Project
          li
            a(href='https://github.com/veksen/factorio-builds/issues') Issues

  .footer__sub
    .container
      div.footer__links
        ul.list-inline
          li(class=(path == 'contact') ? 'active' : undefined)
            a(href='/contact') Contact
          li
            a(href='/status') Status
