.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        i.fa.fa-cog
        | Factorio Builds
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=(path == 'builds') ? 'active' : undefined)
          a(href='/builds') Builds

      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=(title == 'Login') ? 'active' : undefined)
            a(href='/login') Login
          li(class=(title == 'Create Account') ? 'active' : undefined)
            a(href='/signup') Create Account
        else
          li.dropdown(class=(path == 'user') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src=user.profile.picture)
              else
                img(src=user.gravatar(60))
              span= user.profile.name || user.email || user.id
              i.caret
            ul.dropdown-menu
              li
                a(href='/account') My Account
              li
                a(href='/my-builds') My Builds
              li.divider
              li
                a(href='/logout') Logout


      a.btn.btn-primary.navbar-btn.navbar-right(href='/builds/new') Add a build

      ul.nav.navbar-nav.navbar-right
        li
          a.toggle-search
            span.visible-md-inline-block.visible-lg-inline-block Search&nbsp;
            i.fa.fa-search
