if title === 'Builds'
  .navbar.navbar-default(style='border-radius: 0')
    .container
      .collapse.navbar-collapse(style='padding: 0')
        ul.nav.navbar-nav
          li(class=(type == 'balancers') ? 'active' : undefined)
            a(href='/builds/type/balancers') Balancers
          li(class=(type == 'smelting') ? 'active' : undefined)
            a(href='/builds/type/smelting') Smelting
          li(class=(type == 'trains') ? 'active' : undefined)
            a(href='/builds/type/trains') Trains
          li(class=(type == 'production') ? 'active' : undefined)
            a(href='/builds/type/production') Production
