# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# playwright
/playwright-report
/test-results
/playwright/.cache

# typescript
tsconfig.tsbuildinfo

# build output
/dist
/.output
/.tanstack
/build

# misc
.DS_Store
*.pem
*.log
public/img/icons

# debug
npm-debug.log*

# env files
.env
.env.*
!.env.local.example
