.search-input {
  padding: 28px 20px;
}

.search-results {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.search-result {
  flex: 0 0 auto;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;

  & + & {
    border-top: 1px solid #eee;
  }

  &:hover &__inner {
    background: #eee;
  }

  &__inner {
    display: flex;
    flex: 1 0 auto;
    margin: 5px 0;
  }

  &__preview {
    background-color: #222;
    width: 48px;
    height: 48px;
    flex: 0 0 48px;
    margin-right: 10px;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__meta {
    margin-top: 5px;
    color: #aaa;
  }
}
