@page
@model ErrorModel

<h1 class="text-danger display-1">Error</h1>
<h2 class="text-danger mb-4">An error occurred while processing your request :(</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
