@page
@model IndexModel

<div class="container">
    <form method="get" asp-page-handler="List" id="blueprint-filters" data-ajax="true" data-ajax-update="#blueprint-list">
        <div class="row">
            <div class="col">
                <select id="blueprint-filters-tags-input" multiple="multiple" style="display:none" placeholder="Filter by tags…"
                        data-role="blueprint-tags" asp-items="@Model.TagsSelectItems">
                </select>
            </div>
            <div class="col-md-auto">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text">Order by</label>
                    </div>
                    <select id="blueprint-filters-sort-field" asp-items="@Model.SortFieldOptions" class="custom-select"></select>
                    <select id="blueprint-filters-sort-dir" asp-items="@Model.SortDirectionOptions" class="custom-select"></select>
                </div>
            </div>
        </div>
        
        <input id="blueprint-filters-tags" type="hidden" name="tags" />
        <input id="blueprint-filters-sort" type="hidden" name="sort" />
    </form>

    <div id="blueprint-list" class="row no-gutters">
        <partial name="_BlueprintList" model="Model.Blueprints" />
    </div>
</div>
