@page "/{user}"
@model UserModel
@using Humanizer

@inject SignInManager<User> SignInManager

<div class="container view-user">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/User" asp-route-user="@Model.SelectedUser.UserName">@Model.SelectedUser.UserName</a>
            </li>
            <li class="ml-auto">
                <div class="btn-group ml-2" role="group">
                    @if (SignInManager.IsSignedIn(User) && User.GetUserId() == Model.SelectedUser.Id)
                    {
                        <a class="btn btn-sm btn-default" asp-page="/Account/Manage/Index">Edit</a>
                    }
                    else
                    {
                        <button type="button" class="btn btn-sm btn-default" disabled
                                data-toggle="tooltip" data-placement="top" title="Followers functionality coming in a future update. Stay tuned!">
                            Follow
                        </button>
                        <button type="button" class="btn btn-sm btn-default" disabled>0</button>
                    }
                </div>
            </li>
        </ol>
    </nav>

    <h1 class="display-4">@(Model.SelectedUser.DisplayName ?? Model.SelectedUser.UserName)</h1>
    <small class="text-muted">member since @Model.SelectedUser.RegisteredAt.InZone(User.GetTimeZone()).ToDateTimeOffset().Humanize()</small>

    <h2 class="pt-4">Created Blueprints</h2>
    <div id="blueprint-list" class="row no-gutters">
        <partial name="_BlueprintList" model="Model.SelectedUser.Blueprints" />
    </div>

    <h2 class="pt-4">Favorites</h2>
    <p>(coming soon)</p>
</div>
