@model string

@inject SignInManager<User> SignInManager

<form method="post" asp-page="/Account/ExternalLogin" asp-route-returnUrl="@Model">
    @foreach (var provider in await SignInManager.GetExternalAuthenticationSchemesAsync())
    {
        <button type="submit" class="btn btn-lg btn-primary btn-block"
                name="provider" value="@provider.Name"
                title="Log in using your @provider.DisplayName account">
            <i class="fab fa-@provider.Name.ToLowerInvariant()"></i>
            @provider.DisplayName
        </button>
    }
</form>
