@inject SignInManager<User> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbar-user-dropdown" role="button" tabindex="3"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbar-user-dropdown">
            <span class="dropdown-item-text"><small class="text-muted">Signed in as @User.GetUserName()</small></span>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-page="/User" asp-route-user="@User.GetUserName()">Profile</a>
            <a class="dropdown-item" asp-page="/Account/Manage/Index">Settings</a>
            <div class="dropdown-divider"></div>
            <form method="post" class="form-inline" asp-page="/Account/Logout" asp-route-returnUrl="@Model.Request.Path">
                <button type="submit" class="dropdown-item">Logout</button>
            </form>
        </div>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#login-modal" tabindex="3">
            Sign in or register
        </a>
    </li>

    <div class="modal fade" id="login-modal" tabindex="-1" 
         aria-labelledby="login-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="login-modal-label">Sign in</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <partial name="_LoginButtons" model="@Model.Request.Path.ToString()" />
                </div>
            </div>
        </div>
    </div>
}
