#blueprint-list {
    min-height: 12rem;
}

.blueprint-icon {
    position: relative;
    width: 64px;
    height: 64px;

    .is-bg, .is-icon {
        position: absolute;
    }

    .is-icon {
        width: 29px;
        height: 29px;
    }

    .is-bg {
        top: 0px;
        left: 0px;
        width: 64px;
        height: 64px;
    }

    .is-1 {
        top: 2px;
        left: 2px;
    }

    .is-2 {
        top: 2px;
        left: 33px;
    }

    .is-3 {
        top: 33px;
        left: 2px;
    }

    .is-4 {
        top: 33px;
        left: 33px;
    }

    &.has-1 {
        .is-icon {
            width: 60px;
            height: 60px;
        }
    }

    &.is-blueprint-book {
        &.has-1 {
            .is-icon {
                width: 32px;
                height: 32px;
            }
        }

        .is-icon {
            width: 16px;
            height: 16px;
        }

        .is-1 {
            top: 10px;
            left: 18px;
        }

        .is-2 {
            top: 10px;
            left: 34px;
        }

        .is-3 {
            top: 28px;
            left: 18px;
        }

        .is-4 {
            top: 28px;
            left: 34px;
        }
    }
}

.blueprint .breadcrumb-item {
    font-size: 1.25em;
}
