.nav-tabs .nav-link {
    border-bottom: 0;
}

#import-description-preview-content {
    background: $input-bg;
    padding: 0.5em 1em;
    min-height: 8rem;
}


.nav .nav-link.active {
    color: $white;
}
