.nav-tabs .nav-link {
    border-bottom: 0;
}

#import-description-preview-content {
    background: $input-bg;
    padding: 0.5em 1em;
    min-height: 8rem;
}

#navbar-user-dropdown i {
    font-size: 2em;
}

.nav .nav-link.active {
    color: $white;
}

img.img-thumbnail {
    background-image: url('../images/loading.gif');
    background-repeat: no-repeat;
    background-position: center;
    min-width: 100px;
    min-height: 100px;
}

body {
    background: $gray-900;
}

main {
    background: $gray-800;
    padding: 1rem 0 2rem;
}

footer {
    padding-top: 2rem;
    font-size: 0.8em;

    .external-links a {
        font-size: 2em;
        color: $gray-600;

        &:hover, &:active {
            color: $white;
        }
    }
}
