$select-color-text: $input-color;
$select-color-item: $primary;
$select-color-dropdown-item-active: $primary;
$select-color-dropdown-item-active-text: $white;

@import "node_modules/selectize/src/scss/selectize.bootstrap4";
