@page
@model AccessDeniedModel
@{ ViewData["Title"] = "Access denied"; }

<div class="container error-403">
    <h1 class="text-danger display-1">@ViewData["Title"]</h1>
    <h2 class="text-danger">You do not have access to this resource.</h2>
</div>
