@page
@model NotFoundModel
@{ ViewData["Title"] = "Page not found"; }

<div class="container error-404">
    <h1 class="text-danger display-1">404 - @ViewData["Title"]</h1>
    <h2 class="text-danger">The page you're looking for does not exist :(</h2>
</div>
