@page
@model ConfirmEmailChangeModel
@{ ViewData["Title"] = "Confirm email change"; }

<div class="container">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
</div>
