@page
@model LoginModel
@{ ViewData["Title"] = "Log in"; }

<div class="container">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <h4>Use an external provider to log in.</h4>
    <hr />
    @{
        <div class="container">
            <partial name="_LoginButtons" model="Model.ReturnUrl" />
        </div>
    }
</div>
