@page "{user}/{slug}"
@model ViewModel

<h1>@Model.Blueprint!.Title</h1>

<p>@Model.Blueprint.Description</p>

@(
    await Html.RenderComponentAsync<BlueprintEnvelope>(RenderMode.ServerPrerendered, new {
        Envelope = Model.LatestVersion!.Payload,
        ShowCopyButton = true,
    })
)

